body {
margin: 0;
font-family: Arial;
}

/* NAVBAR */
.navbar {
display: flex;
justify-content: space-between;
padding: 15px;
background: linear-gradient(90deg, purple, violet);
color: white;
}

.navbar a {
color: white;
margin: 10px;
text-decoration: none;
}

/* HERO */
.hero {
text-align: center;
padding: 100px;
color: white;
background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
url('https://images.unsplash.com/photo-1504196606672-aef5c9cefc92');
background-size: cover;
}

/* BUTTON */
.btn {
background: orange;
padding: 12px 20px;
color: white;
text-decoration: none;
}

/* GRID */
.grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
gap: 15px;
padding: 20px;
}

.card {
padding: 20px;
background: white;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* FLIGHT RESULTS */
.card button {
background: orange;
border: none;
padding: 10px;
margin-top: 10px;
cursor: pointer;
}

/* DROPDOWN */
ul {
position: absolute;
background: white;
width: 100%;
list-style: none;
padding: 0;
}

li {
padding: 10px;
}

/* MOBILE */
@media(max-width:600px){
.navbar {
flex-direction: column;
}
}
